<div *ngFor="let order of orderHistorys; let i = index">
  <div class="order-wrap">
    <div class="order-title">
      <div class="orderId">注文番号：{{order.ORDER_ID}}</div>
      <div class="shop">{{order.OMISE}}</div>
    </div>
    <div class="order-detail">
      <div class="detail-title">
        <div class="date">注文日時</div>
        <div class="menu">メニュー</div>
        <div class="size">サイズ</div>
        <div class="count">個数</div>
        <div class="price">金額</div>
      </div>
      <div class="detail-item">
        <div class="date">{{order.ORDER_DATE | date:'yyyy/MM/dd HH:mm'}}</div>
        <div class="menu">{{order.MENU}}</div>
        <div class="size">{{order.SIZE}}盛り</div>
        <div class="count">{{order.COUNT}}個</div>
        <div class="price">{{order.PRICE}}円</div>
      </div>
    </div>
  </div>
</div>

<button (click)="gotoHome()">ホームに戻る</button>
