<!-- <ons-page>
  <ons-toolbar>
      <div class="center">ホーム</div>
      <div class="right">いそださん</div>
  </ons-toolbar>

  <div style="text-align: center" ng-controller="HomeCtrl">
      <h1>
        お弁当申込み
      </h1>
      <img src="../../assets/image/obentou.png" title="お弁当のイラスト">
      <ons-button class="home">
          ほっともっと
      </ons-button>
      <ons-button class="home">
          がっつり亭
      </ons-button>
      <ons-button class="home">
          注文履歴
      </ons-button>
  </div>      
</ons-page> -->

<div style="text-align: center">
    <h1>お弁当申込み(Home)</h1>
  <img src="../../assets/image/obentou.png" title="お弁当のイラスト">
  <br>
  <br>
  <a class="home" routerLink="shops/hotmot">ほっともっと</a>
  <br>
  <br>
  <a class="home" routerLink="shops/gattsuri">がっつり亭</a>
  <br>
  <br>
  <a class="home" routerLink="">注文確認</a>
</div>
