<div class="home-wrapper" style="text-align: center" ng-controller="HomeCtrl">

  <div class="title-wrapper">
    <h1>お弁当申込み</h1>
    <img class="title-image" src="../../assets/image/obentou.png" title="お弁当のイラスト">
  </div>

  <div class="menu-wrapper">
    <div class="item-list">
      <!-- <h2 class="item-title"> 注文する </h2> -->
      <ons-button class="button" routerLink="shops/hotmot">
        ほっともっと
      </ons-button>
      <ons-button class="button" routerLink="shops/gattsuri">
        がっつり亭
      </ons-button>
    </div>
    <div class="item-list">
      <!-- <h2 class="item-title"> 過去の注文を確認する </h2> -->
      <ons-button class="button">
        注文履歴確認
      </ons-button>
    </div>
  </div>

</div>
